* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar */
navbar {
    background-color: white;
}

.nav-link {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    background-color: black;
}

.navbar-brand {
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

/* home */
.main {
    background: url(homepage1.jpg)no-repeat;
    background-size: cover;
    width: 100%;
    height: 95vh;
}

.main h2 {
    font-size: 3.5rem;
    font-weight: 400;
    margin-left: 15%;
    margin-top: 10%;
}

.main h3 {
    font-size: 4.4rem;
    font-weight: 700;
    margin-left: 15%;
}

.main h6 {
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 3px solid rgb(222, 191, 137);
    width: 45%;
    margin-left: 15%;
}

.main .bt1 {
    margin-top: 40px;
    height: 40px;
    width: 138px;
    background-color: rgb(240, 221, 187);
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 15%;
}

.main .bt1:hover {
    background-color: rgb(222, 191, 137);
    transition: 0.5s;
}

.main .bt2 {
    margin-top: 40px;
    height: 40px;
    width: 138px;
    background-color: transparent;
    color: rgb(240, 221, 187);
    outline: none;
    border: 3px solid rgb(240, 221, 187);
    font-weight: bold;
    border-radius: 5px;
}

.main .bt2:hover {
    background-color: rgb(222, 191, 137);
    border: 3px solid rgb(222, 191, 137);
    transition: 0.5s;
    color: white;
}

/* about me */
.about {
    background: url(bgCoklat2.jpg)no-repeat;
}

.about img {
    box-shadow: 6px 6px 41px -24px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 6px 6px 41px -24px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 41px -24px rgba(0, 0, 0, 0.75);
}

.about h1 {
    font-size: 3rem;
    font-weight: 900;
}

.progress {
    background-color: white;
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 15px;
    width: 100;
}

.pro-value1 {
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: rgb(240, 221, 187);
    height: 25px;
    width: 0;
}

@keyframes load1 {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.pro-value2 {
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: rgb(240, 221, 187);
    height: 25px;
    width: 0;
}

@keyframes load2 {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.pro-value3 {
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: rgb(240, 221, 187);
    height: 25px;
    width: 0;
}

@keyframes load3 {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

/* skills */
.card {
    border: none;
    outline: none;

    box-shadow: -8px 6px 89px -65px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -8px 6px 89px -65px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -8px 6px 89px -65px rgba(0, 0, 0, 0.75);
}

.card p {
    color: gray;
}

.circle {
    height: 70px;
    width: 70px;
    background-color: rgb(222, 191, 137);
    color: black;
    padding: 12px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}

.card:hover .circle {
    background-color: black;
    color: white;
    transition: 0.5s;
}

/* past experience */
.portfolio {
    background: url(bgCoklat3.jpg)no-repeat;
}

.card {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 20rem
}

/* facts */
.accordion {
    margin-left: 60px;
    margin-right: 60px;
}

/* contact */
.contact {
    background: url(bgCoklat2.jpg)no-repeat;
}

.circle:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
}

/* form validation */
.contact .btn3 {
    background-color: black;
    color: white;
    outline: none;
    border: none;
    height: 40px;
    width: 140px;
    border-radius: 4px;
    margin: auto;
}

.btn3:hover {
    background: white;
    color: black;
    transition: 0.4s;
    border: 1px solid black;
}

/* footer */
footer {
    background-color: lightgray;
    color: black;
}

