.spaceKiri {
    padding-top: 100px;
    padding-right: 80px;
    padding-bottom: 0px;
    padding-left: 80px;
  }

.spaceAtas {
    margin-top: 110px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 120px;
    background-color: white;
  }

